In [26]:
#%pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
     -------------------------------------- 226.0/226.0 kB 6.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\manue\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\manue\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ---------------------------------------- 298.0/298.0 kB ? eta 0:00:00
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\manue\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\manue\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.1 imblearn-0.0 joblib-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [54]:
import numpy as np
import pandas as pd
import pickle
from lazypredict.Supervised import LazyRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report
import warnings
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\manue\OneDrive\Escritorio\Ironhack\Proyectos\Final-Project\Data\Fraud.csv\Fraud.csv")

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0

In [4]:
le = LabelEncoder()

df['type'] = le.fit_transform(df['type'])

In [5]:
df['nameOrig'] = le.fit_transform(df['nameOrig'])

In [6]:
df['nameDest'] = le.fit_transform(df['nameDest'])

In [7]:
def preprocess_dataframe(df):
    # Contar valores nulos por columna
    null_counts = df.isnull().sum()
    print(f"Valores nulos por columna:\n{null_counts}\n")
    
    # Información del dataframe
    print("Información del dataframe:")
    df.info()
    print()
    
    # Cambiar nombres de columnas a minúsculas y reemplazar espacios por guiones bajos
    df.columns = [col.lower().replace(' ', '_') for col in df.columns]
    
    return df

In [8]:
preprocessed_df = preprocess_dataframe(df)

Valores nulos por columna:
step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

Información del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            int32
 2   amount          float64
 3   nameOrig        int32
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        int32
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int32(3), int64(3)
memory usage: 461.2 MB

In [9]:
preprocessed_df

,step,type,amount,nameorig,oldbalanceorg,newbalanceorig,namedest,oldbalancedest,newbalancedest,isfraud,isflaggedfraud
0,1,3,9839.64,757869,170136.00,160296.36,1662094,0.00,0.00,0,0
1,1,3,1864.28,2188998,21249.00,19384.72,1733924,0.00,0.00,0,0
2,1,4,181.00,1002156,181.00,0.00,439685,0.00,0.00,1,0
3,1,1,181.00,5828262,181.00,0.00,391696,21182.00,0.00,1,0
4,1,3,11668.14,3445981,41554.00,29885.86,828919,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,1,339682.13,5651847,339682.13,0.00,505863,0.00,339682.13,1,0
6362616,743,4,6311409.28,1737278,6311409.28,0.00,260949,0.00,0.00,1,0
6362617,743,1,6311409.28,533958,6311409.28,0.00,108224,68488.84,6379898.11,1,0
6362618,743,4,850002.52,2252932,850002.52,0.00,319713,0.00,0.00,1,0
6362619,743,1,850002.52,919229,850002.52,0.00,534595,6510099.11,7360101.63,1,0

## Probé el modelo sin equilibrar los datos y al haber muy pocos casos de fraude no está bien entrenado para detectarlos, produce muchos falsos negativos

In [10]:
df2 = preprocessed_df

X = preprocessed_df.drop(columns='isfraud')

y = preprocessed_df['isfraud']

scaler = MinMaxScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test  = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

y_pred = log_reg.predict(X_test)

confusion_matrix(y_test,y_pred)

accuracy_score(y_test, y_pred)

In [23]:
y_pred = log_reg.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1270904
           1       0.99      0.07      0.13      1620

    accuracy                           1.00   1272524
   macro avg       1.00      0.53      0.56   1272524
weighted avg       1.00      1.00      1.00   1272524

## Utilizamos SMOTE para introducir samples sinteticos a la muestra

In [28]:
over_sample = SMOTE(random_state=0)
X,y = over_sample.fit_resample(X,y)

In [29]:
y.value_counts()

0    6354407
1    6354407
Name: isfraud, dtype: int64

### Despues de utilizar SMOTE tenemos una prediccion mucho mas real

In [36]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=0)

log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

y_pred = log_reg.predict(X_test)

confusion_matrix(y_test,y_pred)

accuracy_score(y_test, y_pred)

y_pred = log_reg.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.96      0.94   1905975
           1       0.96      0.91      0.94   1906670

    accuracy                           0.94   3812645
   macro avg       0.94      0.94      0.94   3812645
weighted avg       0.94      0.94      0.94   3812645

## Probaremos el cross validation score para ver como se comporta el modelo con 3 tipos de testeos diferentes

In [34]:
from sklearn.model_selection import cross_val_score
cvs = cross_val_score(log_reg,X,y,cv=3)
print(cvs)

[0.93839749 0.94078495 0.863627  ]

In [35]:
cvs.mean()

0.9142698111619483

## Elimino la columna de namedest por tener demasiados valores unicos y una correlacion de 0

In [39]:
X = df[['step', 'type', 'amount', 'oldbalanceorg', 'newbalanceorig','namedest', 'oldbalancedest', 'isflaggedfraud']]
y = df['isfraud']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)
log_reg = LogisticRegression()
log_reg.fit(X_train,y_train)

y_pred = log_reg.predict(X_test)

y_pred

confusion_matrix(y_test,y_pred)

accuracy_score(y_test, y_pred)

0.9989207800141032

#### Aumenta hasta 0.99 la precision del modelo

In [55]:
with open('model_weights.pkl', 'wb') as file:
    pickle.dump(log_reg.coef_, file)